<template>
  <v-app
    id="sandbox"
    :dark="dark"
    :light="!dark"
    standalone>
    <v-navigation-drawer
      v-model="primaryDrawer.model"
      persistent
      floating
      absolute
      overflow
      enable-resize-watcher>
      <v-list class="pa-0">
        <v-card-media src="https://randomuser.me/api/portraits/lego/5.jpg" height="200px">
          <v-layout column class="media">
            <v-card-title class="card-title">
              <v-card-title>
                <div>Matías Valentín Muñoz Espinoza</div>
              </v-card-title>
              <v-spacer></v-spacer>
              <v-btn v-on:click="configPage"
                     icon
                     class="mr-3"
                     v-tooltip:left="{ html: 'Configuración' }">
                <v-icon>settings</v-icon>
              </v-btn>
            </v-card-title>
          </v-layout>
        </v-card-media>
        <v-divider dark></v-divider>
        <div v-if="pages.explore">
          <explore-menu></explore-menu>
        </div>
        <div v-else-if="pages.config">
          <config-menu></config-menu>
        </div>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar>
      <v-toolbar-side-icon @click.native.stop="primaryDrawer.model = !primaryDrawer.model" v-if="primaryDrawer.type !== 'permanent'"></v-toolbar-side-icon>
      <transition appear
                  enter-active-class="animated rubberBand l-logo">
        <v-toolbar-title id="toolbar-title">Learnia</v-toolbar-title>
      </transition>
      <div id="search">
        <v-text-field
          label="Search..."
          single-line
          append-icon="search"
          dark
          hide-details>
        </v-text-field>
      </div>
      <v-spacer></v-spacer>
      <div id="nav-buttons">
        <v-btn v-on:click="explorePage" primary dark>Explorar</v-btn>
        <v-btn primary dark disabled>Crear</v-btn>
        <v-menu bottom
                left
                transition="scale-transition"
                v-tooltip:bottom="{ html: 'Medallas' }">
          <v-btn icon slot="activator" dark>
            <v-icon>stars</v-icon>
          </v-btn>
        </v-menu>
        <v-menu bottom
                left
                transition="scale-transition"
                v-tooltip:bottom="{ html: 'Carrito de compras' }">
          <v-btn icon slot="activator" dark>
            <v-icon>shopping_cart</v-icon>
          </v-btn>
        </v-menu>
        <v-menu bottom
                left
                transition="scale-transition"
                v-tooltip:bottom="{ html: 'Notificaciones' }">
          <v-btn icon slot="activator" dark>
            <v-icon>notifications</v-icon>
          </v-btn>
        </v-menu>
        <v-menu bottom v-tooltip:bottom="{ html: 'Salir' }">
          <v-btn icon slot="activator" dark>
            <v-icon>exit_to_app</v-icon>
          </v-btn>
        </v-menu>
      </div>
    </v-toolbar>
    <main>
      <explore v-if="pages.explore"></explore>
      <config v-else-if="pages.config"></config>
    </main>
  </v-app>
</template>

<script>
import Explore from '@/components/Explore'
import ExploreMenu from '@/components/ExploreMenu'
import Config from '@/components/Config'
import ConfigMenu from '@/components/ConfigMenu'

export default {
  components: {
    Explore,
    ExploreMenu,
    Config,
    ConfigMenu
  },
  data: () => ({
    dark: true,
    primaryDrawer: {
      model: true,
      type: 'persistent',
      floating: true
    },
    pages: {
      explore: true,
      config: false
    },
    configItems: [
      { icon: 'account_circle', text: 'Perfil' },
      { icon: 'assignment_ind', text: 'Fotografía' },
      { icon: 'account_box', text: 'Cuenta' },
      { icon: 'create', text: 'Cuenta creador' }
    ]
  }),
  methods: {
    disablePages () {
      this.pages.explore = false
      this.pages.config = false
    },
    configPage () {
      this.disablePages()
      this.pages.config = true
    },
    explorePage () {
      this.disablePages()
      this.pages.explore = true
    }
  }
}
</script>

<style scope lang="scss">
@import "../../scss/main.scss";

.card-title {
  background-color: rgba(1, 1, 1, 0.5);
  padding: 0;
}

.name {
  background-color: rgba(1, 1, 1, 0.5);
  padding: 0;
  text-align: center;
  margin-top: 65px;
}

#toolbar-title {
  margin-right: 30px;
}

#search {
  max-width: 400px;
}

// #nav-buttons

</style>
