<template>
  <v-app dark standalone>
    <v-toolbar fixed dark>
      <v-toolbar-title>Learnia</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
        label="Search..."
        single-line
        append-icon="search"
        dark
        hide-details>
      </v-text-field>
      <v-menu bottom left transition="scale-transition">
        <v-btn icon slot="activator" dark>
          <v-icon>person</v-icon>
        </v-btn>
      </v-menu>
      <v-menu bottom left transition="scale-transition">
        <v-btn icon slot="activator" dark>
          <v-icon>more_vert</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile v-for="item in menu" :key="item.title">
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <main>
      <v-container fluid fill-height>
        <v-layout>
          <!--<v-flex xs6 offset-xs3>
            <v-card height="200px"></v-card>
          </v-flex>-->
        </v-layout>
        <!--v-router-->
      </v-container>
    </main>
    <v-footer fixed></v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      drawer: null,
      menu: [
        { title: 'Home', icon: 'dashboard' },
        { title: 'About', icon: 'question_answer' },
        { title: 'Android', icon: 'android' }
      ],
      mini: false,
      right: null
    }
  }
  /* methods: {
    connect: function () {
      this.$emit('connect')
    }
  } */
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
