<template>
  <v-container fluid>
    <v-layout align-center justify-center row wrap>
      <v-flex xs12>
        <div class="display-1 l-title-1">
          Configuración
        </div>
        <ceri-icon name="fa-heart"></ceri-icon>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    show: false
  })
}
</script>

<style>

</style>
