<template>
  <v-card class="l-course-card">
    <v-card-media
      src="http://www.irensur.gob.pe/images/curso.png"
      height="200px">
    </v-card-media>
    <v-card-title primary-title>
      <div>
        <div class="headline">Curso de C#</div>
        <span class="grey--text">por Matías Valentín Muñoz Espinoza</span>
      </div>
    </v-card-title>
    <v-card-actions>
      <v-btn icon>
        <v-icon>pan_tool</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>cake</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>share</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn icon @click.native="show = !show">
        <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
      </v-btn>
    </v-card-actions>
    <v-slide-y-transition>
      <v-card-text v-show="show">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </v-card-text>
    </v-slide-y-transition>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    show: false
  })
}
</script>

<style scope lang="scss">
@import "../scss/main.scss";
</style>
