<template>
  <div>
    <v-list-tile>
      <v-list-tile-action>
        <v-icon>pan_tool</v-icon>
      </v-list-tile-action>
      <v-list-tile-content>
        <v-list-tile-title>Tomados</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
    <v-list-tile>
      <v-list-tile-action>
        <v-icon>cake</v-icon>
      </v-list-tile-action>
      <v-list-tile-content>
        <v-list-tile-title>Lista de deseos</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
    <v-list-tile>
      <v-list-tile-action>
        <v-icon>list</v-icon>
      </v-list-tile-action>
      <v-list-tile-content>
        <v-list-tile-title>Categoría</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </div>
</template>

<script>

</script>

<style>

</style>
