<template>
  <v-container fluid>
    <transition appear
                enter-active-class="animated bounceInDown">
      <v-layout align-center justify-center row wrap>
        <v-flex xs12>
          <div class="display-1 l-title-1">
            Explorar
          </div>
        </v-flex>
        <v-flex xs4 v-for="i in 6" :key="i">
          <course-card></course-card>
        </v-flex>
      </v-layout>
    </transition>
  </v-container>
</template>

<script>
import CourseCard from '@/components/CourseCard'

export default {
  components: {
    CourseCard
  }
}
</script>

<style scope lang="scss">
@import '../scss/main.scss';
</style>
