<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import Firebase from 'firebase'
import {getConfig} from './firebaseConfig'

const config = getConfig()

let app = Firebase.initializeApp(config)
let db = app.database()
let auth = app.auth()
let provider = new Firebase.auth.GoogleAuthProvider()
let testRef = db.ref('test')

export default {
  name: 'app',
  firebase: {
    test: testRef
  },
  ready: function () {
    auth.onAuthStateChanged(function (user) {
      user = false
      console.log('ok')
      if (user) {
        // User is signed in.
        console.info('Conectado: ' + user)
        this.$router.push('/')
      } else {
        // No user is signed in.
        console.warn('No conectado')
        this.$router.push('/start')
      }
    })
  },
  methods: {
    connect: function () {
      auth.signInWithPopup(provider).then(function (result) {
        /*
        // This gives you a Google Access Token. You can use it to access the Google API.
        let token = result.credential.accessToken;
        // The signed-in user info.
        let user = result.user;
        // ...
        */
      }).catch(function (error) {
        // Handle Errors here.

        let errorCode = error.code
        /*
        let errorMessage = error.message;
        // The email of the user's account used.
        let email = error.email;
        // The firebase.auth.AuthCredential type that was used.
        let credential = error.credential;
        // ...
        */
        if (error) {
          console.info(errorCode)
        }
      })
    },
    disconect: function () {

    }
  }
}
</script>

<style>
html {
    overflow-y: auto;
}
</style>
