/**
 *
 * l = learnia
 */

@import "animation.scss";

.l-title-1 {
  text-align: center;
  background-color: rgba(25, 118, 210, 0.3);
  transition: .3s cubic-bezier(.25,.8,.25,1),color 1ms;
  margin-bottom: 20px;
}

.l-title-1:hover {
  background-color: rgba(25, 118, 210, 0.5);
}

.l-course-card {
  margin-bottom: 10px;
}
